/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}


/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

.col {
  align-items: center;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}


header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

header div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

/* media query for header and nav */
@media all and (min-width: 480px) {

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav {
    justify-content: center;
    align-items: center;
  }

  header nav ul li a:hover {
    color: #bdbdbd
  }

  .logo {
    font-size: 25px;
    justify-content: center;
  }
}

/* media query for vacation form */
@media all and (min-width: 480px) {

  .vacation-form {
    display: flex;
    justify-content: space-between;
  }

  .space-between {
    display: flex;
    flex-direction: column;
    margin-right: 15px ;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }
}

/* media query for about */
@media all and (min-width: 750px) {
 
  .col {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .padding {
    margin: 10px;
  }
}

/* media query for ideas */

@media all and (min-width: 750px) {
  .pic-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .col2 {
    flex: 1 0 calc(35% - 20px);
    margin: 5px;
  }

  .padding {
    margin: 10px;
  }

}